extends ../layout

block content 
    form(method="post")
        input(type="text" placeholder="title" name="title")
        textarea(name="description", cols="30", rows="10" placeholder="descriptioin")
        input(type="submit" value="Upload")  