header
    h1
        a(href="/") WETUBE 
    nav 
        ul 
            li 
                a(href="/") Home 
            if !loggedIn
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") Login
            else
                li
                    a(href=`/user/${user._id}`)= user.name 
                        img(src=user.avatarUrl width="20px" height="20px") 
                li 
                    a(href="/user/logout") Logout 