extends ../layout

block content 
    form(method="post")
        input(type="password" placeholder="current password" name="oldPassword")
        input(type="password" placeholder="new password" name="newPassword")
        input(type="password" placeholder="new password again" name="newPassword2")
        input(type="submit" value="change")