extends ../layout

block content 
    if errorMessage 
        span= errorMessage
    form(method="post") 
        input(type="text" name="name" placeholder="name")
        input(type="email" name="email" placeholder="email")
        input(type="password" name="password" placeholder="password")
        input(type="password" name="password2" placeholder="cofirm password")
        input(type="submit" value="join")
    a(href="/user/githubLogin") Github Join 
    hr
    a(href="/user/naverLogin") naver Join