extends ../layout
include ../mixins/video

block content
    h2 name : #{user.name}
    h2 email : #{user.email}
    ul 
        each video in user.videos 
         +video(video)
    a(href=`${user._id}/edit`) edit profile 
    form(action=`${user._id}/delete` method="post")
        input(type="submit" value="Delete")  